extends layout
block content
  body.o-page.p-about
    #page
      #header
        .header-content
          a.p-link-home(href='/')
            i.fa.fa-home
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.menu-btn(href='#menu')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.p-link-back(href='javascript:history.back();')
            i.fa.fa-arrow-left
      | &#x9;&#x9;&#x9;
      .bannerPane
        .overlay
        | &#x9;&#x9;&#x9;&#x9;
        .s-banner-content
          | &#x5173;&#x4E8E;
      | &#x9;&#x9;&#x9;
      #content
        p &#x641C;&#x96C6;&#x534E;&#x5E08;&#x5468;&#x56F4;&#x7F8E;&#x98DF;&#xFF0C;&#x6B22;&#x8FCE;
