doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=title
    link(rel='stylesheet', type='text/css', href='/dingcanjiesuan/css/swiper.min.css')
    link(rel='stylesheet', type='text/css', href='/dingcanjiesuan/css/style.css')
    link(rel='stylesheet', type='text/css', href='/dingcanjiesuan/css/index.css')
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img(src='images/index/shop_1.jpg')
        |         
        .swiper-slide
          img(src='images/index/shop_1.jpg')
        |         
        .swiper-slide
          img(src='images/index/shop_1.jpg')
    .nav-lf
      ul#nav
        li.current
          a(href='#st1') &#x5206;&#x7C7B;&#x4E00;
          b
        |   
        li
          a(href='#st2') &#x5206;&#x7C7B;&#x4E8C;
          b 1
        |   
        li
          a(href='#st3') &#x5206;&#x7C7B;&#x4E09;
          b 3
        |   
        li
          a(href='#st4') &#x5206;&#x7C7B;&#x56DB;
          b 6
    #container.container
      #st1.section
        -if(menu)
          -for(var name in menu["menu"])
            .prt-lt
              .lt-lt
                img(src='images/index/prt_1.jpg')
              .lt-ct
                p=name
                p.pr
                  | &yen;
                  span.price=menu["menu"][name]
              .lt-rt
                input.minus(type='button', value='-')
                |         &#x9;
                input.result(type='text', value='0')
                |         &#x9;
                input.add(type='button', value='+')
    footer
      .ft-lt
        p
          | &#x5408;&#x8BA1;:
          span#total.total 163.00&#x5143;
          span.nm
            | (
            label.share
            | &#x4EFD;)
      |     
      .ft-rt
        p(onclick="finish()") 确定
    script(type='text/javascript', src='/dingcanjiesuan/js/Adaptive.js')
    script(type='text/javascript', src='/dingcanjiesuan/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/dingcanjiesuan/js/swiper.min.js')
    script(type='text/javascript', src='/dingcanjiesuan/js/jquery.nav.js')
    script(type='text/javascript').
      var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      spaceBetween: 30,
      });
      $(function(){
      $('#nav').onePageNav();
      });
    script.
      $(function(){
      $(".add").click(function(){
      var t=$(this).parent().find('input[class*=result]');
      t.val(parseInt(t.val())+1);
      setTotal();
      })
      $(".minus").click(function(){
      var t=$(this).parent().find('input[class*=result]');
      t.val(parseInt(t.val())-1);
      if( parseInt(t.val())<0){
      t.val(0);
      }
      setTotal();
      })
      function setTotal(){
      var s=0;
      var v=0;
      var n=0;
      <!--计算总额-->
      $(".lt-rt").each(function(){
      s+=parseInt($(this).find('input[class*=result]').val())*parseFloat($(this).siblings().find('span[class*=price]').text());
      });
      <!--计算菜种-->
      var nIn = $("li.current a").attr("href");
      $(nIn+" input[type='text']").each(function() {
      if($(this).val()!=0){
      n++;
      }
      });
      <!--计算总份数-->
      $("input[type='text']").each(function(){
      v += parseInt($(this).val());
      });
      if(n>0){
      $(".current b").html(n).show();
      }else{
      $(".current b").hide();
      }
      $(".share").html(v);
      $("#total").html(s.toFixed(2));
      }
      setTotal();
      })
      function finish() {
      var bills = {};
      $(".prt-lt").each(function () {
      if (parseInt($(this).find(".lt-rt").find(".result").val()) > 0) {
      bills[$(this).find(".lt-ct").find("p").first().text()] = $(this).find(".lt-ct").find(".price").text()+"×"+parseInt($(this).find(".lt-rt").find(".result").val());
      }
      });
      bills["总金额"] = $("#total").text();
      var checkbill = JSON.parse(JSON.stringify(bills));
      var shopname=$("title").text();
        console.log(shopname);
      $.post("/order/"+shopname,checkbill,function(data){
        if(data.status=="success"){
          alert("订餐成功！");
        }else{
          alert("服务器出了点问题...");
        }
      });
      }
    |  
    script(type='text/javascript', src='/dingcanjiesuan/js/waypoints.min.js')
    script(type='text/javascript', src='/dingcanjiesuan/js/navbar2.js')
